* {
    background-color: #b5cfd8;
}
p {
    display: run-in;
    font-family: "Rhodium Libre", serif;
    font-size: 40px;
    font-weight: bold;
    color: #6c737e;
}
.container {
    display: flex;
    justify-content: space-between;
    font-family: "Rhodium Libre", serif;
    color: #6c737e;
    overflow: hidden;
}
form {
    font-family: "Rhodium Libre", serif;
    color: #6c737e;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

img {
    width: 200px;
    height: 200px;
}
.image-container {
    border: solid #6c737e;
}
/* input {
    width: 150px;
    height: 30px;
    border: solid #6c737e;
} */
#uploadfield {
}

button {
    width: 80px;
    height: 50px;
    font-family: "Rhodium Libre", serif;
    border: solid #6c737e;
    border-radius: 15px;
    font-weight: bold;
    color: #6c737e;
    background-color: #7393a7;
}
