* {
    background-color: #b5cfd8;
    font-family: "VT323", monospace;
}
p {
    font-size: 40px;
    font-weight: bold;
    color: #6c737e;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    color: #6c737e;
    overflow: hidden;
}
form {
    color: #6c737e;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

img {
    width: 200px;
    height: 200px;
}
.image-container {
    border: solid #6c737e;
    margin: 20px;
}

#uploadfield {
}

button {
    width: 80px;
    height: 50px;
    /* font-family: "Rhodium Libre", serif; */
    border: solid #6c737e;
    border-radius: 15px;
    font-weight: bold;
    color: #6c737e;
    background-color: #7393a7;
}
.modalcontainer {
    width: 500px;
    height: 500px;
    border: solid #6c737e;
    margin: 20px;
    font-size: 15px;
    color: #6c737e;
}
